<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::body})">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<section class="banner d-flex align-items-center min-vh-100">
    <div class="container text-center" >
        <h1>Smart Contect Manager</h1>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium, asperiores deleniti deserunt
            doloremque dolores eligendi et eum eveniet exercitationem, expedita explicabo fugiat ipsum labore minima
            modi natus, nemo officia officiis omnis perferendis praesentium quaerat quam soluta tempora tempore tenetur
            veritatis vitae voluptatibus voluptatum? Animi dolores excepturi quibusdam velit voluptatum!</p>
            <a class="btn btn-primary" th:href="signup" role="button">Get Started</a>
    </div>


</section>

</body>

</html>